<h1>Усі автори</h1>
</p><%= link_to 'Назад', home_path %></p>

<ul>
  <% @authors.each do |author| %>
    <li><%= link_to author.name, author_path(author) %></li>
  <% end %>
</ul>
<%= link_to 'Створити автора', new_author_path %>
